## ðŸ’ª Competition challenge

Create a report that covers the following:  
  1. Which departments are the most/least active?
  2. Which employee has the most connections? 
  3. Identify the most influential departments and employees.
  4. Using the network analysis, in which departments would you recommend the HR team focus to boost collaboration?

#### Messages has information on the sender, receiver, and time.
- "sender" - represents the employee id of the employee sending the message.
- "receiver" - represents the employee id of the employee receiving the message.
- "timestamp" - the date of the message.
- "message_length" - the length in words of the message.

#### Employees has information on each employee;
- "id" - represents the employee id of the employee.
- "department" - is the department within the company. 
- "location" - is the country where the employee lives.
- "age" - is the age of the employee.

In [9]:
import pandas as pd

df_emp = pd.read_csv('../data/employees.csv')
df_emp.head(3)

   id  department location  age
0   3  Operations       US   33
1   6       Sales       UK   50
2   8          IT   Brasil   54

In [11]:
df_msg = pd.read_csv('../data/messages.csv', parse_dates = ['timestamp'])
df_msg.head(3)

   sender  receiver           timestamp  message_length
0      79        48 2021-06-02 05:41:34              88
1      79        63 2021-06-02 05:42:15              72
2      79        58 2021-06-02 05:44:24              86

## 1. Which departments are the most/least active?